<div class="header">

  <div class="header">
    <div class="header-top">

      <button class="menu-button">

        <span class="icon-align-center" *ngIf="state == 'initial'" (click)="showMenu()"></span>
        <span class="icon-close" *ngIf="state == 'expanded'" (click)="showMenu()"></span>
      </button>

      <img src="assets/logo.svg" class="logo" routerLink="/main" routerLinkActive="active"
           ariaCurrentWhenActive="page"/>

      <menu-panel></menu-panel>
    </div>

    <div [@expandedPanel]="!menuActive ? state : ''" [ngClass]="menuActive ?'header-menu':  'hidden-menu' ">
      <div class="menu-item" (click)="navigate('/books')" routerLinkActive="active" ariaCurrentWhenActive="page">Книги</div>
      <div class="menu-item" (click)="navigate('/arts-play')" routerLinkActive="active" ariaCurrentWhenActive="page">Art&Play</div>
      <div class="menu-item" (click)="navigate('/foreign')" routerLinkActive="active" ariaCurrentWhenActive="page">Foreign</div>
      <div class="menu-item" (click)="navigate('/contacts')" routerLinkActive="active" ariaCurrentWhenActive="page">Контакты </div>
      <div class="menu-item" (click)="navigate('/news')" routerLinkActive="active" ariaCurrentWhenActive="page">Новости</div>
    </div>


  </div>

</div>

