<div class="header">

  <div class="header">
    <div class="header-top">

      <button class="menu-button">

        <span class="icon-align-center" *ngIf="state == 'initial'" (click)="showMenu()"></span>
        <span class="icon-close" *ngIf="state == 'expanded'" (click)="showMenu()"></span>
      </button>

      <img src="assets/logo.svg" class="logo"/>
    </div>

    <div  [@expandedPanel]="!menuActive ? state : ''" [ngClass]="menuActive ?'header-menu':  'hidden-menu' " >
      <div class="menu-item">Книги</div>
      <div class="menu-item">Art&Play</div>
      <div class="menu-item">Foreign</div>
      <div class="menu-item">Контакты</div>
      <div class="menu-item">Новости</div>
    </div>


  </div>

</div>

