<div class="arts-play-page">
  <div class="products-filter">

    <product-filters *ngIf="!filterGenre" [filterName]="filterName"
                     (selectedGenre)="changeCategory($event)"></product-filters>
    <div *ngIf="filterGenre">{{filterGenre.genre}}</div>
  </div>

  <div class="products-list-cont">

    <products class="products-list" [productsCountOnPage]="productsOnPage" [productType]="this.productType"
              [genres]="this.filterGenre"
              #products></products>
  </div>

</div>
