<div class="contacts">

  <div class="info-item">

    <h2>Наш магазин</h2>
    <div class="text-info">
      <a href="{{addressLink}}" target="_blank">{{shopAddress}}</a>
    </div>
    <div class="text-info">Время работы:</div>
    <div class="text-info">Ср – Сб: 10:00-13:00/15:00-19:00</div>
    <div class="text-info">Вс: 10:00-13:00</div>
    <div class="text-info">Пн – Вт: выходные дни</div>
  </div>
  <div class="info-item">

    <h2>Телефон</h2>
    <div class="text-info">+351 938 135 157 (NOS)</div>
  </div>
  <div class="info-item">

    <h2>email</h2>
    <div class="text-info">varenka.books@gmail.com</div>
  </div>

</div>
