@import "../../../../styles/color.less";

:host {
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin: 0 25px 25px 25px;
    border-radius: 15px;
    max-width: 800px;
    min-width: 200px;
    min-height: 200px;
    padding: 15px;


    .author {
      color: @fontColorBright;

    }

    .image {
      height: 200px;
      //width: fit-content;
    }

    .image:hover {
      cursor: pointer;
    }
  }

  .buttons-block {
    width: 120px;
    height: 40px;
    display: flex;
    border: #EE204D;
    border-radius: 10px;
    margin: 25px 0;

    .decrease, .increase {
      outline: none;
      border: none;
      background-color: @backgroundColor;
      cursor: pointer;
      width: 40px;
      font-size: 20px;
    }

    .count-area {
      outline: none;
      border: none;
      background-color: @backgroundColor;
      width: 40px;
    }

    .decrease:hover, .increase:hover {
      background-color: @fontColorBright;
    }

    .decrease {
      border-radius: 10px 0 0 10px;
    }


    .count-area {
      width: 40px;
      text-align: center;
    }

    .increase {
      border-radius: 0 10px 10px 0;
    }
  }

  .small-label {
    font-size: 10px;
    color: @fontColorBright;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .discount {
    color: @fontColorBright;
    margin-right: 10px;
    text-decoration: line-through;
  }

  .menu-button-cart {
    background: none;
    border: none;
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 60%;

  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 15px 0 50px;
    width: 100%;
  }

  .cost-info {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

  }

  @media (max-width: 600px) {
    .cart-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 25px;

    }


    .cost-info {
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 15px;

      .discount {
        margin-right: 0;

      }
    }

    .right-panel {
      align-items: center;
      width: 100%;

    }

    .product-info {

      align-items: center;
      justify-content: space-between;
      margin: 15px;
      width: 100%;
    }

    .small-label {
      text-align: center;
    }

    .image-not-found  {
      max-height: 100%;
      max-width: 150px;
      cursor: pointer;
      height: auto;
    }
  }


  @media (max-width: 700px) {
    .cost-info {
      flex-direction: column;
    }
  }

  .product-name {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: bold;
  }

}

::ng-deep .cdk-overlay-pane {
  width: 500px!important;
}
