@import "src/styles/color";

:host {
  .cart-item {
    background-color: @backgroundColor;
    display: flex;
    margin: 0 25px 25px 25px;
    border-radius: 15px;
    max-width: 600px;
    min-height: 150px;
    padding: 15px;

    .product-info {
      flex: 1;
      margin: 0 15px 0 15px;
    }

    .author {
      color: @fontColorBright;

    }


    .image-not-found {
      max-height: 100%;
      max-width: 25%;
      object-fit: contain;
    }

    .image {
      max-height: 100%;
      object-fit: contain;
    }

  }

  @media (max-width: 600px) {
    .cart-item {
      flex-direction: column;
    }
  }

  .buttons-block {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(243, 244, 245);
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -0.24px;
  }

}
