<div class="order-component">
  <h1>Оформление заказа</h1>


  <div class="order-form" #form>

    <div class="step" *ngIf="pageIndex == 0">
      <ng-container *ngTemplateOutlet="firstStep"></ng-container>
    </div>
    <div class="step" *ngIf="pageIndex == 1">
      <ng-container *ngTemplateOutlet="secondStep"></ng-container>
    </div>
    <div class="step" *ngIf="pageIndex == 2">
      <ng-container *ngTemplateOutlet="thirdPage"></ng-container>
    </div>
    <div class="step" *ngIf="pageIndex == 3">
      <ng-container *ngTemplateOutlet="productsListPage"></ng-container>
    </div>
    <div class="step" *ngIf="pageIndex == 4">
      <ng-container *ngTemplateOutlet="submitPage"></ng-container>
    </div>
    <mat-error
      *ngIf="orderControls.errors">{{ orderControls.errors}}</mat-error>

  </div>
  <div class="information"> * - Поля обязательные для заполнения</div>
  <div class="buttons-block">
    <div style=" visibility: hidden;" *ngIf="pageIndex == 0"></div>
    <button mat-button class="main-button previous" *ngIf="pageIndex != 0" (click)="changeStep(-1)">Назад</button>
    <button mat-button class="main-button next" *ngIf="pageIndex != pageCount -1" (click)="changeStep(1)">Далее</button>
    <button mat-button class="main-button submit" type="submit" *ngIf="pageIndex == pageCount -1" (click)="onSubmit()"
            [disabled]="!order.concentDataProcessing">Оплатить
    </button>


  </div>
  <payment #paymentComponent
           [showEmail]="false"
           style="visibility: hidden"
  ></payment>
</div>

<ng-template #firstStep>
  <h2>Информация о получателе</h2>

  <div class="field">
    <mat-label for="name"><span class="required-sign">*</span>ФИО (латинницей):</mat-label>

    <input id="name" name="name"
           class="order-input" type="text"
           [mask]="'S* S*'"
           [validation]="false"
           [(ngModel)]="order.name" [formControl]="nameControl">
    <mat-error *ngIf="nameControl.errors">{{getErrorText(nameControl.errors)  }}</mat-error>
  </div>

  <div class="field">
    <mat-label for="email"><span class="required-sign">*</span>email:</mat-label>
    <input id="email" name="email" type="email" [(ngModel)]="order.email" [formControl]="emailControl">
    <mat-error
      *ngIf="emailControl.errors">{{getErrorText(emailControl.errors)}}</mat-error>
  </div>

  <div class="field">
    <mat-label for="email">NIF:</mat-label>
    <input id="nif" name="nif" type="number" [(ngModel)]="order.nif" [formControl]="nifControl">
    <mat-error
      *ngIf="nifControl.errors">{{getErrorText(nifControl.errors)}}</mat-error>
  </div>

  <div class="field">
    <mat-label for="phone"><span class="required-sign">*</span>Телефон:</mat-label>
    <input id="phone"
           name="phone" type="text"
           mask="+000 000 000 099"
           [dropSpecialCharacters]="false"
           [(ngModel)]="order.phoneNumber"
           [formControl]="phoneControl"
           [validation]="false"
    >

    <mat-error *ngIf="phoneControl.errors">{{getErrorText(phoneControl.errors)}}</mat-error>
  </div>


</ng-template>

<ng-template #secondStep>

  <h2>Выберите тип доставки</h2>
  <mat-radio-group id="delivery-type"
                   class="radio-group"
                   [(ngModel)]="deliveryType" name="deliveryType"
                   [name]="'first'"
                   [formControl]="deliveryTypeControl">
    <mat-radio-button *ngFor="let i of deliveryTypes"
                      [value]="i.type"
                      [id]="i.type"
    >{{deliveryTypeNames[i.type]}}</mat-radio-button>
  </mat-radio-group>

  <mat-error *ngIf="deliveryTypeControl.errors">{{getErrorText(deliveryTypeControl.errors)}}</mat-error>


  <div *ngIf="!pickPointsShow && !showAddress && deliveryType" class="delivery-address">
    <h2>Забрать из магазина</h2>

    <div>
      {{getMainPickPointAddress()}}
    </div>
  </div>


  <div class="delivery-address" *ngIf="pickPointsShow">
    <h2>Выберите пункт выдачи</h2>

    <div>

      <mat-radio-group id="pickPoints" class="radio-group pickpoints"
                       [(ngModel)]="pickPoint" name="pickPoints"
                       [formControl]="pickPointControl">
        <mat-radio-button *ngFor="let i of pickPoints" [value]="i.id"
                          [id]="i.id">{{getStringAddress(i)}}</mat-radio-button>
      </mat-radio-group>


      <mat-error *ngIf="pickPointControl.errors">{{getErrorText(pickPointControl.errors)}}</mat-error>
    </div>
  </div>

  <div class="delivery-address" *ngIf="showAddress">
    <h2>Адрес доставки</h2>


    <div class="field">
      <mat-label for="postalCode"><span class="required-sign">*</span>Индекс:</mat-label>
      <input id="postalCode" name="postalCode" [(ngModel)]="order.postalCode"
             [formControl]="postalCodeControl">
      <mat-error *ngIf="postalCodeControl.errors">{{getErrorText(postalCodeControl.errors)}}</mat-error>
    </div>
    <div class="field">
      <mat-label for="country"><span class="required-sign">*</span>Страна:</mat-label>
      <input id="country" name="country" type="text" [(ngModel)]="order.country"
             [formControl]="countryControl">
      <mat-error *ngIf="countryControl.errors">{{getErrorText(countryControl.errors)}}</mat-error>
    </div>
    <div class="field">
      <mat-label for="region">Регион:</mat-label>
      <input id="region" name="region" type="text" [(ngModel)]="order.region">
    </div>
    <div class="field">
      <mat-label for="city"><span class="required-sign">*</span>Город:</mat-label>
      <input id="city" name="city" type="text" [(ngModel)]="order.city" [formControl]="cityControl">
      <mat-error *ngIf="cityControl.errors">{{getErrorText(cityControl.errors)}}</mat-error>
    </div>
    <div class="field">
      <mat-label for="street"><span class="required-sign">*</span>Улица:</mat-label>
      <input id="street" name="street" type="text" [(ngModel)]="order.street"
             [formControl]="streetControl">
      <mat-error *ngIf="streetControl.errors">{{getErrorText(streetControl.errors)}}</mat-error>
    </div>
    <div class="field">
      <mat-label for="buildingNumber"><span class="required-sign">*</span>Дом:</mat-label>
      <input id="buildingNumber" name="buildingNumber" type="text" [(ngModel)]="order.buildingNumber"
             [formControl]="buildingNumberControl">
      <mat-error *ngIf="buildingNumberControl.errors">{{getErrorText(buildingNumberControl.errors)}}</mat-error>
    </div>
    <div class="field">
      <mat-label for="appartmentNumber"><span class="required-sign">*</span>Квартира:</mat-label>
      <input id="appartmentNumber" name="appartmentNumber" type="text"
             [(ngModel)]="order.appartmentNumber"
             [formControl]="appartmentNumberControl">
      <mat-error *ngIf="appartmentNumberControl.errors">{{getErrorText(appartmentNumberControl.errors)}}</mat-error>
    </div>
  </div>


</ng-template>

<ng-template #thirdPage>
  <div class="field">
    <mat-checkbox class="confirm-checkbox" [(ngModel)]="order.concentDataProcessing"
                  [formControl]="concentDataProcessingControl"><span class="required-sign">*</span> Подтверждаю согласие
      на обработку персональных
      данных
    </mat-checkbox>
    <mat-error
      *ngIf="concentDataProcessingControl.errors">{{getErrorText(concentDataProcessingControl.errors)}}</mat-error>
  </div>
  <div class="field">
    <mat-checkbox class="confirm-checkbox" [(ngModel)]="order.concentNewsletters"> Хочу подписаться на рассылку
    </mat-checkbox>
    <mat-error *ngIf="concentNewslettersControl.errors">{{getErrorText(concentNewslettersControl.errors)}}</mat-error>
  </div>


</ng-template>
<ng-template #productsListPage>


  <div *ngIf="productsInStock.length > 0" class="products">
    <h2>Товары в наличии</h2>
    <div class="product-table">
      <div class="table-header">
        <div>Навание</div>
        <div class="small-screen-hidden">Автор</div>
        <div class="small-screen-hidden">Количество</div>
        <div class="small-screen-hidden">Цена (за шт.)</div>
        <div>Итоговая цена</div>
      </div>
      <div *ngFor="let pr of productsInStock" class="table-row">
        <div>{{pr.product.name}}</div>
        <div class="small-screen-hidden">{{pr.product.author}}</div>
        <div class="small-screen-hidden">{{pr.count}}</div>
        <div class="small-screen-hidden"> {{pr.product.discountPrice}}</div>
        <div>{{pr.product.discountPrice * pr.count}}</div>
      </div>
      <div class="table-header">
        <div>Итого</div>
        <div></div>
        <div></div>
        <div></div>
        <div>Много деньгов</div>
      </div>
    </div>
    <!--    <div *ngFor="let pr of productsInStock">-->
    <!--      <div>{{pr.product.name}}   {{pr.count}}  {{pr.product.discountPrice * pr.count}}</div>-->
    <!--    </div>-->
  </div>
  <div *ngIf="productsToOrder.length > 0" class="products">
    <h2>Товары под заказ</h2>
    <div class="product-table">
      <div class="table-header">
        <div>Навание</div>
        <div class="small-screen-hidden">Автор</div>
        <div class="small-screen-hidden">Количество</div>
        <div class="small-screen-hidden">Цена (за шт.)</div>
        <div>Итоговая цена</div>
      </div>
      <div *ngFor="let pr of productsToOrder" class="table-row">
        <div>{{pr.product.name}}</div>
        <div class="small-screen-hidden">{{pr.product.author}}</div>
        <div class="small-screen-hidden">{{pr.count}}</div>
        <div class="small-screen-hidden"> {{pr.product.discountPrice}}</div>
        <div>{{pr.product.discountPrice * pr.count}}</div>
      </div>
      <div class="table-header">
        <div>Итого</div>
        <div></div>
        <div></div>
        <div></div>
        <div>Много деньгов</div>
      </div>

    </div>
    <!--    <div *ngFor="let pr of productsToOrder">-->
    <!--      <div>{{pr.product.name}}   {{pr.count}}   {{pr.product.discountPrice}} {{pr.product.discountPrice * pr.count}}</div>-->
    <!--    </div>-->
  </div>

  <h2>
    <div class="field" *ngIf="this.productsToOrder.length > 0 && this.productsInStock.length > 0">
      <mat-checkbox class="confirm-checkbox" [(ngModel)]="jointDelivery"> Оформить совместную доставку?
        Оплата за раздельную доставку оплачивается для каждоо заказа отдельно.

      </mat-checkbox>
      <mat-error *ngIf="concentNewslettersControl.errors">{{getErrorText(concentNewslettersControl.errors)}}</mat-error>
    </div>
  </h2>


</ng-template>

<ng-template #submitPage>
  <div class="field">
    <mat-checkbox class="confirm-checkbox" [(ngModel)]="order.concentDataProcessing"
                  [formControl]="concentDataProcessingControl"> Подтверждаю согласие на обработку персональных
      данных
    </mat-checkbox>
    <mat-error
      *ngIf="concentDataProcessingControl.errors">{{getErrorText(concentDataProcessingControl.errors)}}</mat-error>
  </div>
  <div class="field">
    <mat-checkbox class="confirm-checkbox" [(ngModel)]="order.concentNewsletters"> Хочу подписаться на рассылку
    </mat-checkbox>
    <mat-error *ngIf="concentNewslettersControl.errors">{{getErrorText(concentNewslettersControl.errors)}}</mat-error>
  </div>


</ng-template>


<ng-template #dialog class="delete-dialog">
  <div *ngIf="!canDeactivatePage">
    <h2 mat-dialog-title>Вы действительно хотите прервать оформление заказа?</h2>
    <div mat-dialog-actions>
      <button class="main-button cancel" mat-button [mat-dialog-close]="true">Да</button>
      <button class="main-button" mat-button mat-dialog-close [mat-dialog-close]="false">Нет</button>
    </div>
  </div>
</ng-template>
