@import "../../../styles/color.less";

:host {
  .order-form {
    padding: 30px;
  }
}

::ng-deep .mat-mdc-dialog-surface {

  width: 450px !important;
  height: 180px !important;

  .mat-mdc-dialog-title {
    text-align: center;
    font-family: Inter, "Inter", Verdana, sans-serif !important;

  }

  .mat-mdc-dialog-actions {
    display: flex;
    justify-content: space-evenly;

    .main-button {
      width: 30%;
    }

    .cancel {
      background-color: @colorTheme8;
    }
  }
}
