@import "src/styles/color";

:host {
  display: flex;
  margin-right: 25px;


  .menu-button {
    background-color: @baseColorHeader;
    border: none;
  }

  .menu-button:hover {
    cursor: pointer;
  }

}
