<div class="contacts">

    <h2>
        Пользовательское соглашение
    </h2>

    <div class="info">

        <div class="item">
            <div class="text">
                Ao efetuar a compra na nossa Loja Online, o cliente aceita todas as condições constantes neste Termos &
                Condições Gerais.
            </div>
        </div>

        <ol>

            <div class="item">
                <div class="info-header">
                    <li> Âmbito e Objeto das Condições Gerais da Loja:</li>
                </div>
            </div>
            <ol>
                <div class="item">

                    <div class="text">
                        <li> As presentes Condições Gerais destinam-se, associado ao formulário de encomenda e os demais
                            elementos
                            referidos nas mesmas, a regular os termos e as condições por que se regerá a prestação do
                            Serviço de
                            Vendas através da Loja Online da Empresário em Nome Individual Daria Dombrova, com sede na
                            Rua
                            26,
                            291,
                            Espinho, Portugal, 4500-163, sob o Número fiscal 313 283 834, doravante designada “Varenka”.
                        </li>
                    </div>
                </div>


                <div class="item">
                    <div class="text">
                        <li> O serviço consiste na disponibilização, através do endereço <strong>www.varenkabooks.com</strong>
                            de acesso à Loja Online que disponibiliza informação sobre produtos constantes da aludida
                            Loja,
                            permitindo ao Utilizador, por via eletrónica, encomendar os produtos nela divulgados, nos
                            termos
                            e
                            condições aqui descritos.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li> A encomenda de produtos deve ser feita por utilizadores maiores de idade,
                            ou sejam, com idade igual ou superior a 18 (dezoito) anos. Os elementos e informações
                            transmitidos pelo Utilizador gozarão de plenos efeitos jurídicos, reconhecendo o utilizador
                            as
                            aquisições eletrónicas, não podendo este alegar a falta de assinatura para incumprimento das
                            obrigações
                            assumidas.
                        </li>
                    </div>
                </div>
            </ol>


            <div class="item">
                <div class="info-header">
                    <li> Condições para Aceitação, Processamento e Transporte de Encomendas:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li> Colocação de encomendas ou pedidos de cotação</li>
                    </div>
                </div>
                <ol>

                    <div class="item">
                        <div class="text">
                            <li> A Varenka aceita encomendas ou pedidos de cotação através dos seguintes meios:</li>
                        </div>
                    </div>

                    <div class="item">
                        <div class="text">
                            <ul>
                                <li class="not-numeric">Via e-mail: varenka.books@gmail.com
                                </li>
                                <li class="not-numeric">O Via website: varenkabooks.com
                                </li>
                                <li class="not-numeric">Via telefone: +351 938 135 157 (NÓS)
                                </li>
                            </ul>
                        </div>
                    </div>
                </ol>

                <div class="item">
                    <div class="text">
                        <li> Preços</li>
                    </div>
                </div>
                <ol>
                    <div class="item">
                        <div class="text">
                            <li> Apresentação dos preços:</li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            Os valores apresentados são correspondentes às unidades de venda de cada artigo e sobre eles
                            acresce
                            o IVA à taxa legal em vigor.
                        </div>
                    </div>
                </ol>
                <div class="item">
                    <div class="text">
                        <li> Despesas de Envio de Mercadorias:</li>
                    </div>
                </div>
                <ol>
                    <div class="item">
                        <div class="text">
                            <li> Encomendas de valor superior a 200,00€ + IVA – Sem custo de transporte para Território
                                Nacional.
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Encomendas de valor inferior a 200,00€  + IVA – Acresce Portes 7,50 € + IVA 23% para
                                Território Nacional.
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Os valores dos portes apresentados são apenas válidos para Portugal Continental.
                                Para envios para restantes países da Europa, ou outros Continentes, e/o Madeira ou
                                Açores,
                                por favor contacte-nos para mais informações (varenka.books@gmail.com).
                            </li>
                        </div>
                    </div>
                </ol>

                <div class="item">
                    <div class="text">
                        <li> Processamento e Prazo de Entrega de Mercadoria</li>
                    </div>
                </div>
                <ol>
                    <div class="item">
                        <div class="text">
                            <li> Prazos de entrega: De 24h a 72h para artigos com existência em stock à altura da
                                encomenda.
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Levantamento nas nossas instalações: A mercadoria só estará disponível após boa cobrança
                                e
                                indicação de que a mercadoria se encontra preparada. (Não são aceites recolhas efetuadas
                                por transportadoras).
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li> Atrasos nas entregas: Apesar de todos os nossos esforços no sentido de cumprir com
                                os prazos de entrega (descrito no ponto anterior), existem fatores que
                                em determinados casos poderão pontualmente influenciar os prazos de entrega
                                mencionados, tais como, erros humanos ou falhas do serviço assegurado pela
                                transportadora,
                                condições climatéricas adversas, excesso ou condicionalismos de tráfego ou avarias em
                                viaturas..
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Caso algum produto não esteja disponível depois de ter realizado a encomenda,
                                será avisado, por correio eletrónico ou através de telefone. Nesse momento ser-lhe-á
                                apresentada a possibilidade de anular a encomenda com o respetivo reembolso, caso já
                                tenha efetuado o
                                respetivo pagamento ou, no caso de pretender substituir por outro produto, atualizaremos
                                a encomenda assim
                                como toda a informação comprovativa da alteração registada.
                            </li>
                        </div>
                    </div>
                </ol>

                <div class="item">
                    <div class="text">
                        <li> Condições de pagamento</li>
                    </div>
                </div>
                <ol>
                    <div class="item">
                        <div class="text">
                            <li> Modos de pagamento:</li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <ul>
                                <li class="not-numeric">
                                    Envio à cobrança – os produtos serão entregues contra receção do pagamento,
                                    em dinheiro, no momento da entrega. A este serviço acresce o valor de 3€ + IVA.
                                </li>
                                <li class="not-numeric">
                                    Transferência bancária – ser-lhe-ão indicados os NIBs / números de conta da Varenka.
                                    Para um deles deverá efetuar uma transferência no valor exato da sua encomenda. As
                                    encomendas serão expedidas apenas após confirmação de recebimento na conta bancária
                                    da Varenka.
                                </li>
                                <li class="not-numeric">
                                    Pagamento Multibanco com referência ou MBWAY aquando da encomenda – As encomendas
                                    serão expedidas
                                    apenas após confirmação de recebimento na conta bancária da Varenka.
                                </li>
                            </ul>
                        </div>
                    </div>
                </ol>
                <div class="item">
                    <div class="text">
                        <li> Direitos</li>
                    </div>
                </div>
                <ol>
                    <div class="item">
                        <div class="text">
                            <li> Propriedade sobre a mercadoria: As mercadorias entregues ao cliente são consideradas
                                propriedade da Varenka até ao momento em que se verifique o seu integral pagamento.
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Direitos sobre a mercadoria: A Varenka reserva-se ao direito de
                                reclamar a propriedade sobre a mercadoria fornecida, a partir do momento em
                                que não sejam satisfeitas as condições de pagamento previamente estabelecidas.
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Direito ao não fornecimento de mercadoria: A Varenka reserva-se ao direito de não
                                proceder ao fornecimento da mercadoria, a partir do momento em que não sejam satisfeitas
                                as condições de pagamento previamente estabelecidas.
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Conservação de todos os dados: O cliente deverá conservar uma cópia contendo os
                                dados de transações (especificando os produtos e/ ou serviços, preços e prazos de
                                entrega, etc).
                            </li>
                        </div>
                    </div>
                </ol>

                <div class="item">
                    <div class="text">
                        <li> Reclamação/ Devolução/ Cancelamento</li>
                    </div>
                </div>
                <ol>
                    <div class="item">
                        <div class="text">
                            <li> Verificação da mercadoria: A Varenka, assegura que os produtos vendidos serão
                                recebidos em boas condições, no entanto, o cliente deverá sempre verificar toda a
                                mercadoria entregue, de acordo com o documento de acompanhamento da mesma (guia de
                                remessa, fatura ou guia de transporte).
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Em caso de Falta de Material, ou Mercadoria Danificada, o cliente deverá no Ato de
                                entrega indicar na Carta de Porte do transportador quais as anomalias detetadas
                                (ex.: caixa danificada; artigo em falta,…), A Varenka rejeita quaisquer
                                responsabilidades
                                em eventuais anomalias existentes na remessa da mercadoria caso não haja qualquer
                                indicação
                                destas mesmas anomalias no ato de entrega. Será da exclusiva responsabilidade do cliente
                                fornecer
                                todas as evidências quanto a eventuais anomalias ou defeitos verificados.
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Discordância entre material encomendado / recebido/ ou constante no documento
                                de acompanhamento: O cliente deverá reclamar eventuais discordâncias entre a
                                mercadoria encomendada/ recebida ou o que consta no documento de acompanhamento
                                da mesma, num prazo máximo de 15 dias úteis a contar da data da receção dos artigos.
                                Findo este prazo, a Varenka rejeita quaisquer responsabilidades em eventuais anomalias
                                existentes na remessa da mercadoria. Será da exclusiva responsabilidade do cliente
                                fornecer todas as evidências quanto a eventuais anomalias ou defeitos verificados.
                            </li>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text">
                            <li>Em caso de erro por parte do cliente, Pedido de Troca de material, devolução, ou
                                desistência
                            </li>
                        </div>
                    </div>
                    <ol>
                        <div class="item">
                            <div class="text">
                                <li>Erro por parte do Cliente / Pedido de Troca de material / Devolução</li>
                            </div>
                        </div>
                        <div class="item">
                            <div class="text">
                                <ul>
                                    <li class="not-numeric">
                                        No Ato de entrega – deverá indicar na Carta de Porte do transportador, os dados
                                        relativos à
                                        encomenda, a razão da troca ou devolução, quais os artigos que pretende trocar
                                        ou devolver,
                                        e se pretende a troca ou reembolso. Os clientes serão responsáveis pelo envio da
                                        mercadoria
                                        para a morada da Varenka em perfeitas condições, completos e devidamente
                                        embalados na embalagem
                                        de origem, e após boa receção e confirmação do seu bom estado, será enviado nova
                                        mercadoria que pretende ou eventual reembolso.
                                    </li>
                                    <li class="not-numeric">
                                        Se pretender trocar por um produto com um valor superior, haverá lugar ao
                                        pagamento da diferença.
                                    </li>
                                    <li class="not-numeric">
                                        Se pretender trocar por um produto com um valor inferior, haverá lugar ao
                                        reembolso da diferença, ou ficará em crédito para abatimento em futuras compras.
                                    </li>
                                    <li class="not-numeric">
                                        O cliente terá a seu cargo: Custos de transporte anteriormente pagos , custos de
                                        transporte de devolução, a indicar por parte da Varenka na altura que pretender
                                        efetuar a devolução (caso o faça pela nossa transportadora), e novos custos de
                                        transporte
                                        para envio da nova mercadoria. Adicionalmente terá uma taxa administrativa de
                                        15,00€ + IVA.
                                        Se usufruiu de portes gratuitos devido a encomenda ser superior a 200€, e caso a
                                        mercadoria a
                                        devolver, faça com que o valor do material com que ficou, seja inferior a 200€,
                                        terá lugar ao
                                        pagamento dos portes que não pagou aquando encomenda.
                                    </li>
                                    <li class="not-numeric">
                                        Até 15 dias úteis após a entrega– deverá indicar os dados relativos à encomenda,
                                        a razão da troca ou devolução, quais os artigos que pretende trocar ou devolver,
                                        e
                                        se pretende a troca ou reembolso. Os clientes serão responsáveis pelo envio da
                                        mercadoria
                                        para a morada da Varenka em perfeitas condições, completos e devidamente
                                        embalados na
                                        embalagem de origem, e após boa receção e confirmação do seu bom estado, será
                                        enviado
                                        nova mercadoria que pretende ou eventual reembolso.
                                    </li>
                                    <li class="not-numeric">
                                        Se pretender trocar por um produto com um valor superior, haverá lugar ao
                                        pagamento da diferença.
                                    </li>
                                    <li class="not-numeric">
                                        Se pretender trocar por um produto com um valor inferior, haverá lugar ao
                                        reembolso da diferença, ou ficará em crédito para abatimento em futuras compras.
                                    </li>
                                    <li class="not-numeric">
                                        O cliente terá a seu cargo: Custos de transporte anteriormente pagos, custos de
                                        transporte de devolução a indicar por parte da Varenka na altura que pretender
                                        efetuar
                                        a devolução (caso o faça pela nossa transportadora), e novos custos de
                                        transporte para
                                        envio da nova mercadoria. Adicionalmente terá uma taxa administrativa de 15,00€
                                        + IVA.
                                        Se usufruiu de portes gratuitos devido a encomenda ser superior a 200€, e caso a
                                        mercadoria a
                                        devolver, faça com que o valor do material com que ficou, seja inferior a 200€,
                                        terá lugar ao
                                        pagamento dos portes que não pagou aquando encomenda.
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="item">
                            <div class="text">
                                <li>Em caso de desistência do cliente</li>
                            </div>
                        </div>
                        <div class="item">
                            <div class="text">
                                <ul>
                                    <li class="not-numeric">
                                        No Ato de entrega – deverá indicar na Carta de Porte do transportador, os
                                        dados relativos à encomenda e a razão da desistência. Os clientes serão
                                        responsáveis pelo envio da mercadoria para a morada da Varenka. em perfeitas
                                        condições,
                                        completos e devidamente embalados na embalagem de origem, e após boa receção e
                                        confirmação
                                        do seu bom estado, será emitido um crédito de apenas do valor da mercadoria
                                        devolvida
                                        (exclui os custos de transporte anteriormente pagos). Ao valor da mercadoria a
                                        creditar
                                        ao cliente, será debitado o valor da taxa administrativa de 15,00€ + IVA, e os
                                        custos da
                                        devolução a indicar por parte da Varenka na altura que pretender efetuar a
                                        devolução (caso o
                                        faça pela nossa transportadora). Se usufruiu de portes gratuitos devido a
                                        encomenda ser
                                        superior a 200€, e caso a mercadoria a devolver, faça com que o valor do
                                        material com
                                        que ficou, seja inferior a 200€, terá lugar ao pagamento dos portes que não
                                        pagou aquando encomenda.
                                    </li>
                                    <li class="not-numeric">
                                        Até 15 dias úteis após a entrega – deverá indicar os dados relativos à encomenda
                                        e a
                                        razão da desistência. Os clientes serão responsáveis pelo envio da mercadoria
                                        para a
                                        morada da Varenka. em perfeitas condições, completos e devidamente embalados na
                                        embalagem
                                        de origem, e após boa receção e confirmação do seu bom estado, será emitido um
                                        crédito de
                                        apenas do valor da mercadoria devolvida (exclui os custos de transporte
                                        anteriormente pagos).
                                        Ao valor da mercadoria a creditar ao cliente, será debitado o valor da taxa
                                        administrativa de
                                        15,00€ + IVA, e os custos da devolução a indicar por parte da Varenka na altura
                                        que pretender
                                        efetuar a devolução (caso o faça pela nossa transportadora). Se usufruiu de
                                        portes gratuitos
                                        devido a encomenda ser superior a 200€, e caso a mercadoria a devolver, faça com
                                        que
                                        o valor do material com que ficou, seja inferior a 200€, terá lugar ao pagamento
                                        dos
                                        portes que não pagou aquando encomenda.
                                    </li>
                                    <li class="not-numeric">
                                        Qualquer solicitação de devolução de consumíveis de informática ou de máquinas e
                                        equipamentos será alvo de estudo prévio por parte da Varenka.
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="text">
                                <li>Quaisquer reclamações, devoluções ou cancelamentos só serão aceites após alvo de
                                    estudo prévio por parte da Varenka.
                                </li>
                            </div>
                        </div>

                    </ol>
                </ol>


            </ol>
            <div class="item">
                <div class="info-header">
                    <li> Responsabilidades:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            Todos os produtos e serviços comercializados na Loja Online Varenka estão de acordo com a
                            Lei Portuguesa.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            A Loja Online possui os adequados níveis de segurança. Contudo, se por algum motivo
                            persistir
                            alguma falha de serviço como de erro de acesso ao sítio eletrónico da Loja Online Varenka,
                            e dessa forma decorrer uma impossibilidade de prestação de serviço, a Varenka não poderá
                            ser responsabilidade por ações externas ao seu controlo.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            As consultas de dados e informação efetuadas no âmbito deste serviço, presumem-se
                            efetuadas pelo utilizador, declinando a Varenka qualquer responsabilidade decorrente a
                            utilização abusiva ou fraudulenta das informações obtidas.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            A Varenka não é responsável pelos prejuízos ou danos decorrentes do
                            incumprimento ou cumprimento defeituoso do serviço quando tal não lhe seja direta ou
                            indiretamente imputável a título de dolo ou culpa grave, não se responsabilizando
                            designadamente por:
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <ul>
                            <li class="not-numeric">
                                erros, omissões ou outras imprecisões relativos às informações disponibilizadas pelo
                                utilizador através do serviço;
                            </li>
                            <li class="not-numeric">
                                danos causados por culpa do Utilizador ou de terceiros, incluindo as violações da
                                propriedade intelectual,
                            </li>
                            <li class="not-numeric">
                                pelo incumprimento ou cumprimento defeituoso que resulte da ocorrência de situações de
                                força maior, ou seja, situações de natureza extraordinária ou imprevisível, exteriores à
                                Varenka e que pela mesma não possam ser controladas, tais como incêndios, cortes de
                                energia,
                                explosões, guerras, tumultos, insurreições civis, decisões governamentais, greves,
                                terramotos,
                                inundações ou outros cataclismos naturais ou outras situações não controláveis e que
                                impeçam ou prejudiquem o cumprimento das obrigações assumidas.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador aceita que a Varenka não pode de forma nenhuma ser responsabilizada por
                            qualquer
                            dano, incluindo, mas não limitado a, danos por perdas de lucros, dados, conteúdos, ou
                            quaisquer
                            outras perdas (mesmo que tenha sido previamente avisado pelo utilizador sobre a
                            possibilidade
                            da ocorrência desses danos), resultantes:
                        </li>
                    </div>
                </div>

                <div class="item">
                    <div class="text">
                        <ul>
                            <li class="not-numeric">
                                do uso ou impossibilidade de uso do serviço; e,
                            </li>
                            <li class="not-numeric">
                                da dificuldade de obtenção de qualquer substituto de bens/serviços;
                            </li>

                        </ul>
                    </div>
                </div>
            </ol>

            <div class="item">
                <div class="info-header">
                    <li> Obrigações do Consumidor:</li>
                </div>
            </div>
            <ol>

                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador compromete-se a facultar dados pessoais e moradas corretas, não utilizando em
                            nenhuma circunstância identidades falsas;
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Caso algum dos dados esteja incorreto ou seja insuficiente, e por
                            esse motivo haja um atraso ou impossibilidade no processamento da encomenda,
                            ou eventual não entrega, a responsabilidade é do utilizador, sendo que a
                            Varenka declina qualquer responsabilidade.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            No caso de o utilizador violar alguma destas obrigações ou outra qualquer tentativa de
                            burla, a Varenka reserva-se no direito de cancelar futuros fornecimentos
                            de quaisquer outros serviços ao mesmo utilizador.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            É expressamente vedada a utilização dos produtos e serviços adquiridos para fins comerciais,
                            designadamente para efeitos de revenda de bens.
                        </li>
                    </div>
                </div>

            </ol>

            <div class="item">
                <div class="info-header">
                    <li> Privacidade e Protecção de Dados Pessoais:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            A Varenka garante a confidencialidade de todos os dados fornecidos pelos Utilizadores.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Os dados pessoais identificados no formulário de encomenda como sendo de
                            fornecimento obrigatório são indispensáveis à prestação do serviço. A omissão ou
                            inexatidão dos dados fornecidos pelo utilizador são da sua exclusiva
                            responsabilidade e podem dar lugar à recusa de prestação do serviço.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Os dados pessoais do utilizador serão processados e armazenados informaticamente e
                            destinam-se a ser utilizados pela Varenka no âmbito da relação contratual e/ou comercial com
                            o utilizador.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Nos termos da legislação aplicável, é garantido ao utilizador, o direito de acesso,
                            retificação e atualização dos seus dados pessoais, diretamente ou mediante pedido por
                            escrito, bem como o direito de oposição à utilização dos mesmos para as finalidades
                            previstas no número anterior, devendo para o efeito contactar a entidade responsável
                            pelo tratamento dos dados pessoais, através do e-mail <strong>varenka.books@gmail.com</strong>.
                        </li>
                    </div>
                </div>
            </ol>
            <div class="item">
                <div class="info-header">
                    <li> Cancelamento de Encomendas:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            A pedido do utilizador as encomendas poderão ser canceladas, quando expressamente
                            solicitado pelo utilizador, através do número de telefone ou e-mail, referindo o número
                            de encomenda, o qual será aceite desde que a mesma ainda não tenha sido processada.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Após a confirmação e processamento da encomenda, é solicitado ao utilizador que contacte
                            a Varenka através do número de telefone ou e-mail, na maior brevidade
                            possível, para que se encontre a solução mais adequada.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Para o efeito de cancelamento o Utilizador deverá indicar os seguintes dados:
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <ul>
                            <li class="not-numeric">Número da encomenda
                            </li>
                            <li class="not-numeric"> NIF com que efetuou a encomenda e morada de entrega
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            A Varenka reserva-se no direito de não processar encomendas, quando verificar alguma
                            inconsistência nos dados pessoais apresentados ou observar má conduta por parte do
                            comprador.
                        </li>
                    </div>
                </div>
            </ol>

            <div class="item">
                <div class="info-header">
                    <li>Devolução (DIREITO DE RESOLUÇÃO):</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador, no caso de ser consumidor, pode exercer o direito de
                            resolução, no prazo de 14 (catorze) dias a contar do dia em que
                            o consumidor adquira a posse física do bem.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador pode reivindicar o direito de resolução quando:
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <ul>
                            <li class="not-numeric">
                                Os produtos recebidos não corresponderem ao solicitado ou a quantidade
                                não corresponder ao pedido, (se a quantidade ou o produto indicado
                                na guia de transporte e/ou fatura não corresponder à quantidade ou
                                produto realmente contido na remessa, o transportador deverá ser notificado,
                                informando a Varenka desta circunstância na própria guia de transporte e/ou fatura);
                            </li>
                            <li class="not-numeric">
                                A embalagem está seriamente danificada, afetando a qualidade do produto (neste caso,
                                deve ser comunicado à transportadora, informando-o na guia de transporte e/ou fatura);
                            </li>
                            <li class="not-numeric">
                                Os produtos estão em más condições no momento da receção. Nesse caso,
                                deve enviar informação através dos meios de contacto disponíveis para o efeito à Varenka
                                no próprio dia da entrega.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="item">
                    <div class="text">
                        <li>
                            No caso de ocorrer pelo menos uma das situações acima descritas,
                            e cumprindo os prazos e procedimentos definidos para comunicação
                            das anomalias, de 14 dias, terá direito ao reembolso integral dos produtos, incluindo
                            impostos e custos de envio.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Se a remessa for rejeitada pelo cliente, ou o cliente não a recolher,
                            sem justa causa, a Varenka ficará isenta de responsabilidade pela deterioração
                            que o produto possa sofrer, como resultado da falta de recebimento,
                            não sendo obrigada a devolver qualquer valor.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Para exercer este direito, o utilizador deve indicar todos os seus dados de
                            identificação, o produto comprado que pretende devolver e a data de compra,
                            verificável através da referência de encomenda e/ou numero de fatura. A comunicação
                            da devolução deverá ser feita por email para <strong>varenka.books@gmail.com</strong> e dentro
                            do prazo acima definido.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            A embalagem deve ser devolvida completa, tal como foi entregue e acompanhada de toda a
                            documentação recebida, nomeadamente a fatura de venda e o documento que comprova
                            a receção do produto. A embalagem e os documentos indicados deverão ser enviados
                            gratuitamente para a seguinte morada:<br/>
                            Rua do Almada, 448, Porto, 4050-034 Porto.<br/>
                            Se o utilizador optar por outras formas de devolução, os respetivos custos com portes de
                            envio serão da sua responsabilidade.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Após receção da devolução, a Varenka restituirá ao Utilizador o valor efetivamente pago e
                            correspondente à encomenda.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            O método de reembolso do valor será feito através de transferência bancária para a
                            conta indicada e será efetuado até 14 dias após a receção da vontade de livre resolução e da
                            receção da devolução do bem.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Na falta de qualquer dos componentes do artigo vendido ou, caso qualquer
                            deles não se encontre em excelente estado de conservação por motivo alheio
                            à responsabilidade da Varenka, não haverá lugar a qualquer reembolso do preço ou
                            dos portes, sendo o produto reenviado novamente para a morada de expedição inicial.
                        </li>
                    </div>
                </div>
            </ol>

            <div class="item">
                <div class="info-header">
                    <li>Propriedade Industrial:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            A Loja é um site registado e o serviço prestado é da responsabilidade da Varenka.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador/cliente reconhece que o serviço contém informação confidencial e
                            está protegido pelos direitos de autor e conexos, propriedade industrial e demais legislação aplicável.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador/cliente reconhece que qualquer utilização desses conteúdos apenas
                            poderá ocorrer ao abrigo de autorização expressa dos respetivos titulares.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador/cliente compromete-se a respeitar na íntegra os direitos
                            a que se refere o número anterior, designadamente abstendo-se de utilizar
                            ou reproduzir os mesmos materiais para seu benefício e que não estejam autorizados.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador/cliente aceita e autoriza expressamente que a Varenka
                            assine/identifique com o seu nome, e divulgue, por qualquer forma,
                            os serviços prestados e/ou os bens fornecidos, para seu benefício
                            e/ou divulgação, sob qualquer forma de marketing, ou outros fins idênticos,
                            mesmo que sejam produtos personalizados e ainda que contenham nome,
                            marca, dados comerciais, logotipo, ou outras informações do utilizador/cliente.
                        </li>
                    </div>
                </div>
            </ol>

            <div class="item">
                <div class="info-header">
                    <li>Condições de Segurança do Serviço:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador expressamente reconhece e aceita que a Rede IP constitui
                            uma rede pública de comunicações eletrónicas suscetível de utilização
                            por vários utilizadores, e como tal, sujeitas a sobrecargas informáticas,
                            pelo que a Varenka não garante a prestação do serviço sem interrupções, perda de informação ou atrasos.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Em caso de interrupção da prestação do serviço por razões de
                            sobrecarga imprevisível dos sistemas em que o mesmo se suporta,
                            a Varenka compromete-se a regularizar o seu funcionamento com a maior brevidade possível.
                        </li>
                    </div>
                </div>
            </ol>


            <div class="item">
                <div class="info-header">
                    <li>Suspensão e Desativação do Serviço de Loja:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            A Varenka poderá, em qualquer altura, e de acordo com o seu
                            critério exclusivo, descontinuar a disponibilização do
                            serviço de comercialização online e ou parte do Serviço.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            A Varenka reserva-se ainda o direito de suspender ou fazer cessar imediatamente o acesso ao serviço, nos seguintes casos:
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <ul>
                            <li class="not-numeric">
                                Quando o utilizador não observe as condições de utilização referidas nas Condições Gerais;
                            </li>
                            <li class="not-numeric">
                                Quando a Varenka cesse o acesso à Loja, mediante comunicação prévia com uma
                                antecedência de 15 dias sobre a data de cessação, não havendo o direito do
                                utilizador ou terceiros a qualquer indemnização ou outra compensação, não
                                podendo a Varenka ser responsabilizada ou de alguma forma onerada, por qualquer
                                consequência resultante da suspensão, anulação, cancelamento do Serviço, cumprido
                                que deverá estar todo e qualquer serviço requerido previamente por
                                parte dos seus utilizadores até à data de cancelamento.
                            </li>
                        </ul>
                    </div>
                </div>
            </ol>


            <div class="item">
                <div class="info-header">
                    <li>Comunicações:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            Eventuais alterações às presentes Condições Gerais, serão publicadas no
                            website e poderão ser efetuadas para o endereço de
                            correio eletrónico do Utilizador, por SMS ou contacto telefónico.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            O utilizador aceita receber toda e qualquer comunicação e/ou notificação
                            relacionada com a Loja Online, para a morada, telefone de contacto e ou
                            endereço de correio eletrónico (“e-mail”) indicados no processo de encomenda.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            Em qualquer momento, pode solicitar o não recebimento destas
                            comunicações e/ou notificações por correio eletrónico ou
                            através da opção da opção “Não receber a Newsletter” inscrita em cada Newsletter.
                        </li>
                    </div>
                </div>
            </ol>

            <div class="item">
                <div class="info-header">
                    <li>Reclamações:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            A Varenka tem a maior preocupação com a qualidade dos seus produtos e
                            dos seus serviços. No entanto, e no caso de insatisfação, o utilizador pode
                            submeter quaisquer conflitos contratuais, aos mecanismos de arbitragem e mediação
                            que se encontrem ou venham a ser legalmente constituídos, bem como reclamar
                            junto da Varenka de atos e omissões que violem as disposições legais aplicáveis à aquisição de bens.
                        </li>
                    </div>
                </div>
                <div class="item">
                    <div class="text">
                        <li>
                            A reclamação deverá ser apresentada no prazo máximo de 30
                            (trinta) dias, contados a partir do conhecimento dos factos
                            pelo utilizador, sendo registada nos sistemas de informação
                            da Varenka que deverá decidir a reclamação e notificar
                            o interessado no prazo máximo de 30 (trinta) dias, a contar da data da sua receção.
                        </li>
                    </div>
                </div>
            </ol>

            <div class="item">
                <div class="info-header">
                    <li>Reparações ao Abrigo das Garantias:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            As reparações de produtos dentro do prazo de garantia serão
                            tratadas diretamente com o fornecedor dos mesmos, sendo o contacto
                            disponibilizado e facilitado através do Serviço de Apoio a Clientes Varenka: <strong>varenka.books@gmail.com</strong>
                        </li>
                    </div>
                </div>
            </ol>
            <div class="item">
                <div class="info-header">
                    <li>Características dos Produtos:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            As características dos produtos estão sempre descritas no catálogo, totalmente acessíveis no momento da encomenda.
                        </li>
                    </div>
                </div>
            </ol>
            <div class="item">
                <div class="info-header">
                    <li>Prazos de Validade da Oferta:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            Os preços são válidos até às 18h00 do dia útil seguinte ao da submissão da encomenda.
                            A partir dessa data, poderão ser alterados pela Varenka.
                        </li>
                    </div>
                </div>
            </ol>
            <div class="item">
                <div class="info-header">
                    <li>Responsabilidades:</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            A Varenka. não se responsabiliza por quaisquer danos materiais ou físicos,
                            pelas compras efetuadas, nem reembolso ou indemnizações por qualquer atraso de entrega da mercadoria.
                        </li>
                    </div>
                </div>
            </ol>
            <div class="item">
                <div class="info-header">
                    <li>LEI APLICÁVEL</li>
                </div>
            </div>
            <ol>
                <div class="item">
                    <div class="text">
                        <li>
                            O Contrato rege-se pela lei portuguesa.
                        </li>
                    </div>
                </div>
            </ol>

        </ol>

    </div>
</div>
