<div class="contacts">

  <h2>
    Политика конфиденциальности

  </h2>
  <div class="info">

    <div class="item">
      <div class="text">
        O Regulamento (EU) 2016/679 DO PARLAMENTO EUROPEU E DO CONSELHO de 27 de Abril
        de 2016 relativo à protecção das pessoas singulares no que diz respeito ao
        tratamento de dados pessoais é aplicável a partir de 25 maio de 2018, e vem
        reforçar a segurança e controle na protecção dos seus dados pessoais.
      </div>
    </div>

    <div class="item">
      <div class="text">
        A Varenka pretende continuar em contacto consigo e informá-lo de todas as novidades,
        campanhas e promoções, bem como questões comerciais no cumprimento das normas legais e de privacidade dos seus
        dados.
        A Varenka é a entidade responsável pelo tratamento dos dados pessoais dos seus clientes que
        procedam ao preenchimento dos seus dados e à submissão do Formulário de Consentimento para
        Comunicação Individual e assume o compromisso de que o tratamento de dados pessoais será feito de acordo com a
        Lei.
      </div>
    </div>

    <div class="item">
      <div class="info-header">
        Para que finalidade e com que fundamento recolhemos a informação?
      </div>
      <div class="text">
        A Varenka necessita da sua informação para:
        <ul>
          <li>Processar e entregar a sua encomenda, bem como para notificá-lo sobre o estado da mesma;</li>
          <li>Identificá-lo a si ou á sua empresa – como nosso cliente;</li>
          <li>Dar-lhe acesso às áreas restritas do site;</li>
          <li>Enviar-lhe informação privilegiada de uma forma personalizada;</li>
          <li>Dar-lhe acesso a promoções e campanhas e descontos exclusivos;</li>
          <li>Assegurar que o Serviço de Apoio ao Cliente o poderá contactar para fornecer respostas a questões e
            situações do seu interesse.
          </li>
        </ul>
      </div>
    </div>

    <div class="item">
      <div class="info-header">
        De que forma recolhemos os dados?
      </div>
      <div class="text">
        <ul>
          <li>Login, inicio da sessão no site. Estes reconhecem-no, sempre que estiver ligado ao site
            da Varenka como nosso cliente, com todas as vantagens que esta situação acarreta;
          </li>
          <li>O Serviço de Apoio a Clientes, que recolherá todas as suas reclamações, comentários,
            sugestões e outras informações úteis com vista a uma otimização e melhoria do serviço que lhe é prestado;
          </li>
          <li>Estudos e questionários de satisfação.</li>
        </ul>
      </div>
    </div>

    <div class="item">
      <div class="info-header">
        Com quem pode a Varenka partilhar os meus dados pessoais?
      </div>
      <div class="text">
        O acesso à informação é restrito, sendo realizado para satisfazer a sua encomenda, desde
        a concretização do pagamento e distribuição pelos canais de entrega até ao pós venda.
        A cedência a terceiros de qualquer informação só se realiza após a sua autorização.
        Esta ocorrerá para a realização da promoção de serviços, produtos e outras atividades de marketing.
      </div>
    </div>
    <div class="item">
      <div class="text">
        Cada uma das entidades envolvidas no tratamento dos seus dados é obrigada a cumprir a
        legislação aplicável em matéria de proteção de dados pessoais, em particular, no que se refere
        à segurança e confidencialidade do seu tratamento.
      </div>
    </div>
    <div class="item">
      <div class="text">
        De acordo com a lei em vigor, podemos partilhar dados pessoais por aplicação, exigência
        da lei ou outras entidades, se necessário para proteger os nossos direitos ou os de terceiros,
        para combate à fraude ou para fazer cumprir os termos e condições da nossa página, em conformidade com a
        legislação aplicável.
      </div>
    </div>


    <div class="item">
      <div class="info-header">
        Cookies
      </div>
      <div class="text">
        A Varenka usa cookies e tecnologias semelhantes, incluindo cookies de terceiros,
        para analisar informações sobre o desempenho do nosso website para saber como melhor
        adequar o website e a oferta aos nossos clientes e para permitir que o website funcione.
        Os cookies também permitem que nós e os nossos parceiros forneçamos conteúdo, serviços e
        anúncios personalizados. Ao clicar em ‘Aceitar’, você concorda com o uso de todos estes
        cookies. Você pode alterar ou ajustar suas preferências de cookies enviando um email com
        essas indicações para: varenka.books@gmail.com.
      </div>
    </div>
    <div class="item">
      <div class="text">

        De acordo com o estabelecido na Lei n.º 41/2004, de 18 de Agosto e no Regulamento (UE)
        2016/679 do Parlamento europeu e do Conselho de 27 de abril de 2016 relativo à proteção
        das pessoas singulares no que diz respeito ao tratamento de dados pessoais e à livre circulação
        desses dados e que revoga a Diretiva 95/46/CE (Regulamento Geral sobre a Proteção de Dados),
        informamos-lhe que este website armazena informação de endereços IP dos computadores, e utiliza
        Cookies para recolher informação acerca da forma como os visitantes utilizam o seu website com o
        objetivo de prestar um melhor serviço e oferecer-lhe uma melhor experiência na sua navegação.
      </div>
    </div>
    <div class="item">
      <div class="text">
        As Cookies são pequenos arquivos de texto que contêm informação, e que se geram no computador ou
        terminal do Utilizador quando navega pelo website. Ao clicar no botão “ACEITAR” está a consentir
        na utilização de cookies no website. Através das cookies de seguida enunciadas:
      </div>
    </div>

    <div class="item">
      <div class="text">
        <strong>Cookies próprias:</strong> São aquelas que enviamos para o seu computador ou dispositivo a partir do nossosite.
      </div>
    </div>
    <div class="item">
      <div class="text">
        <strong>Cookies de terceiros:</strong> São aquelas que se enviam para o seu computador ou
        dispositivo através de um domínio ou de uma página web que não é administrada por nós, mas sim
        por uma entidade colaboradora. Como por exemplo, as utilizadas pelo Google que instala cookies
        que nos ajudam a analizar o funcionamento do nosso website, e melhorar a efetividade das nossas campanhas de
        marketing.
      </div>
    </div>
    <div class="item">
      <div class="text">
        <strong>Google:</strong> Google oferece um grande número de produtos
        para nos ajudar a administrar os nossos anúncios e sites; entre os
        que se incluem AdSense, AdWords, Google Analytics e Google Tag Manager,
        assim como uma série de serviços da marca DoubleClick. Se derem o vosso
        consentimento, podem ser enviadas algumas cookies para o seu navegador.
      </div>
    </div>
    <div class="item">
      <div class="text">
        <strong>Facebook:</strong>
        a Varenka, utiliza etiquetas píxel do Facebook para
        saber se uma compra foi realizada a partir de um anúncio publicado
        nesta última, proporcionar serviços e/ou impactar mediante anúncios relevantes da Varenka.
      </div>
    </div>

  </div>

</div>
