<div class="product-card" (click)="openInfo(product)">

  <div *ngIf="product.isNew && !product.isPopular" class="sticker popular">
    Хит!
  </div>
  <div *ngIf="product.isPopular" class="sticker new">
    Новинка!
  </div>
  <div class="product-card-image">

    <ng-template #noImageFound>
      <image [imageLink]="'../assets/no-mage-found.png'" class="image-not-found"/>
    </ng-template>


    <div *ngIf="productImage; else noImageFound"   class="image-wrapper">
      <image [imageLink]="productImage"></image>

    </div>


  </div>
  <div class="product-card-info">
    <div class="product-card-name">{{product.name}}</div>
    <div class="product-card-author">{{product.author}}</div>
    <div class="product-card-category">
      <span *ngFor="let i of product.genres">{{i.genre}}, </span></div>
    <div class="product-card-price">

      <span *ngIf="product.discount" class="discount"> {{product.retailPrice + ' \u20AC'}}</span>
      {{product.discountPrice + ' \u20AC'}}
    </div>
  </div>


</div>
