@import "src/styles/color";

:host {
  background: @baseBackgroundColor;
  height: 100%;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .header {
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
    overflow-y: auto;
  }

  .footer {
    flex-shrink: 0;
  }
  .body  {
  }

   .scroller .scroller {
  }


}
