@import "src/styles/color";

:host {
  background: @baseBackgroundColor;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .header {
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
    overflow-y: auto;
    min-height: 2000px;
  }

  .footer {
    flex-shrink: 0;
  }

   .scroller .scroller {
    height: 80vh !important;
  }


}
