@import "src/styles/color";

:host {
  .products-list {
    margin-left: 30px;
    text-align: center;

    @media (max-width: 1000px) {
      --grid-column-count: 3;
    }
    @media (max-width: 600px) {
      --grid-column-count: 2;
    }
    @media (max-width: 400px) {
      --grid-column-count: 1;
    }
    --grid-column-count: 4;
    --grid-item--min-width: 100px;

    --grid-item--max-width: calc((100%) / var(--grid-column-count));

    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));


  }


  .products-list > .product-item {
    height: 100%;
    margin-right: 30px;

    //border : 1px solid @fontColorBright;
    //border-radius: 15px;
    //box-shadow: 0px 0px 10.5px rgba(0, 0, 0, 0.6);

  }


  .product-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);

  }

  .pagination {
    width: max-content;
    text-align: center;
    margin: 25px;
    .ngx-pagination {
      padding-left: 0px !important;
    }
  }



  @media (max-width: 600px) {
    .pagination {
      width: 100%;
    }

  }


}
