<div class="products-list">
  <div *ngFor="let product of products | paginate:  { itemsPerPage: pageSize, currentPage: page, totalItems: total }" class="product-item">

    <product-item [product]="product"></product-item>

  </div>

<!--      <product-item [product]="item" *ngFor="let item of products | paginate: { id: 'foo',-->
<!--                                                      itemsPerPage: pageSize,-->
<!--                                                      currentPage: page,-->
<!--                                                      totalItems: total }" ></product-item>-->






</div>
<pagination-controls  class="pagination" previousLabel="Предыдущаяя"
                      nextLabel="Следующая"
                      (pageChange)="changePage($event);upPage()"
>

</pagination-controls>
