<div class="contacts">

  <h2>
    Доставка
  </h2>
  <div class="info">

    <div class="item">
      <div class="info-header uppercase">Почтой</div>

      <div class="delivery-info">

        <img src="../../../assets/icons/post-delivery.png" class="media-icon">
        <div>
          <div class="bold">Мы отправляем книги по всей Европе.</div>
          <div>По Португалии заказы доставляет компания CTT, в другие страны Европы - почтой или транспортными
            копаниями:
            UPS,
            DPD, HRX и DHL.
          </div>
          <div class="bold">Стоимость (Португалия) - 9€</div>
          <div class="bold">Стоимость (Европа) - 14€</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="info-header uppercase">Забрать в магазине</div>

      <div class="delivery-info">

        <img src="../../../assets/icons/home.png" class="media-icon">
        <div>
          <div>Вы можете заранее забронировать книги, и мы отложим их для вас в нашем магазине в часы его работы.</div>
          <div class="bold">VARËNKA</div>
          <div class="bold">Porto, Rua do Almada 488</div>
          <div class="text-info">Время работы:</div>
          <div class="text-info">Ср – Сб: 10:00-13:00/15:00-19:00</div>
          <div class="text-info">Вс: 10:00-13:00</div>
          <div class="text-info">Пн – Вт: выходные дни</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="info-header uppercase">Курьером</div>

      <div class="delivery-info">

        <img src="../../../assets/icons/coureer-delivery.png" class="media-icon">
        <div>
          <div class="bold">Каждую субботу в первой половине дня мы развозим ваши заказы в пределах города Порту</div>
          <div>Стоимость - бесплатно</div>
        </div>
      </div>
    </div>
    <div class="item ">
      <div class="info-header">

        Мы также всегда готовы пойти вам навстречу и организовать самый удобный вариант доставки!
      </div>
    </div>
  </div>
  <h2>
    Часто задаваемые вопросы
  </h2>
  <div class="info">
    <div class="item">
      <div class="info-header">
        В какие регионы вы отправляете книги?
      </div>
      <div class="text">
        Мы отправляем книги по всей Европе. По Португалии заказы доставляет компания CTT, в страны Европы - почтой или
        транспортными копаниями: UPS, DPD, HRX и DHL.
      </div>
    </div>
    <div class="item">
      <div class="info-header">
        Сколько стоит доставка?
      </div>
      <div class="text">
        Всё зависит от способа доставки. Во время оформления заказа вы сможете выбрать один из трех способов
        получения: курьерская доставка,
        самовывоз из магазина или почта.
        Стоимость доставки рассчитывается отдельно во время оформления заказа — она зависит от типа доставки,
        удалённости пункта назначения и веса посылки.
      </div>
    </div>
    <div class="item">
      <div class="info-header">
        Как долго будет идти посылка?
      </div>
      <div class="text">
        Это зависит от способа доставки и пункта назначения. Курьерская доставка осуществляется каждую субботу, в
        пределах Лиссабона посылки доставляются почтовой службой на дом в течение двух дней, в другие города — от двух
        до шести дней.
        В удаленные регионы Португалии, например, на Мадейру, и в остальные города Европы — до четырнадцати рабочих
        дней.

      </div>
    </div>
    <div class="item">
      <div class="info-header">
        Какие сроки доставки в праздничные и предпраздничные дни?
      </div>
      <div class="text">
        Обращаем ваше внимание, что по причине высокой загрузки почтовой службы, получение может занять на несколько
        дней больше обычного.
        Если вы хотели бы получить заказ до Нового года, рекомендуем оформить его до 10 декабря, иначе есть
        вероятность, что он будет доставлен после 4 января.
        Если вы волнуетесь, что заказ не успеют доставить вовремя — пишите на почту
        <strong>varenka.books@gmail.com</strong> или в наш telegram,
        и мы постараемся сориентировать вас по датам доставки.
      </div>
    </div>

    <div class="item">
      <div class="info-header">
        Как работает курьерская доставка?
      </div>
      <div class="text">
        После того, как заказ будет сформирован и будет готов к отправке, вам придет сообщение в telegram для
        согласования
        удобного времени доставки. Доставка курьером осуществляется в Порту каждую субботу.
      </div>
    </div>
    <div class="item">
      <div class="info-header">
        Как работает предзаказ?
      </div>
      <div class="text">
        Если в вашем заказе есть книга в статусе «на заказ», то уведомление о передаче заказа в поступлении
        книги в наш магазин придет отдельным письмом. Предварительный срок ожидания книг из статуса «на заказ» - до
        2-х месяцев.
      </div>
    </div>


    <div class="item">
      <div class="info-header">
        Можно ли изменить способ доставки после оформления?
      </div>
      <div class="text">
        Если после оплаты заказа вы заметили, что выбрали неверный способ доставки, например,
        курьерскую вместо почтовой, то скорее пишите нам на почту <strong>varenka.books@gmail.com</strong> —
        мы вернем вам часть средств и поменяем способ доставки, если заказ еще не прошел этап комплектации и
        не был отправлен. В случае, если заказ уже был отправлен, то, к сожалению, изменить тип доставки невозможно.
      </div>
    </div>


    <div class="item">
      <div class="info-header">
        Когда приходят письма и сообщения о заказе?
      </div>
      <div class="text">
        Сразу после оформления заказа вам придёт письмо от нас со всеми исходными данными:
        состав посылки, стоимость и код заказа. Если письма нет, проверьте папку «Спам» — скорее всего, оно там.
        Как только посылка будет укомплектована и отправлена, вы получите от нас
        письмо, содержащее трек-номер, в течение 1-2 дней после оформления заказа.
      </div>
    </div>

    <div class="item">
      <div class="info-header">
        Как узнать трек-номер посылки?
      </div>
      <div class="text">
        Код заказа выглядит так: RL 0348 ** * PT, где ** * обозначает индивидуальный номер заказа.
        Отследить посылку с помощью этого трек-номера можно
        <a href=" https://www.ctt.pt/feapl_2/app/open/objectSearch/objectSearch.jspx?lang=def">здесь</a>.
      </div>
    </div>

    <div class="item">
      <div class="info-header">
        Что делать, если мне долго не приходят уведомления о статусе заказа?
      </div>
      <div class="text">
        Обычно уведомление о статусе заказа приходит в течение 1-2 дней после его оформления.
        Если вы так и не обнаружили письмо в этот временной промежуток, то, возможно, оно
        могло попасть в «спам» или в почтовом адресе и телефоне могли быть ошибки.
        В любом случае нужно скорее писать на <strong>varenka.books@gmail.com</strong>. Важно в письме коротко описать
        проблему и
        сообщить номер посылки или код заказа — вся информация содержится в первом письме о заказе.
      </div>
    </div>

    <div class="item">
      <div class="info-header">
        Как быть, если книги пришли с повреждениями?
      </div>
      <div class="text">
        Это очень важный момент. Если вы нашли повреждения, сразу напишите нам на почту
        <strong>varenka.books@gmail.com </strong>и
        приложите фото повреждения.
      </div>
    </div>

    <div class="item">
      <div class="info-header">
        Можно ли оформить заказ через telegram или instagram?
      </div>
      <div class="text">
        Мы всегда готовы ответить на ваши вопросы, дать рекомендацию или помочь с оформлением заказа.
      </div>
    </div>


  </div>


</div>
