<div class="product-card" (click)="openInfo(product)">

  <div *ngIf="product.isNew && !product.isPopular" class="sticker">
    <img src="../../../assets/new.png" class="sticker-img"/>
  </div>
  <div *ngIf="product.isPopular" class="sticker">
    <img src="../../../assets/hit.png" class="sticker-img"/>
  </div>
  <div class="product-card-image">

    <image [imageLink]="productImage" class="image"></image>


  </div>
  <div class="product-card-info">
    <div class="product-card-name">{{product.name}}</div>
    <div class="product-card-author">{{product.author}}</div>
    <div class="product-card-category">
      <span *ngFor="let i of product.genres">{{i.genre}}, </span></div>
    <div class="product-card-price">

      <span *ngIf="product.discount" class="discount"> {{product.retailPrice + ' \u20AC'}}</span>
      {{product.discountPrice + ' \u20AC'}}
    </div>
  </div>


</div>
