<div class="contacts">

    <h2>
        Условия возврата
    </h2>

    <div class="info">

        <div class="item">
            <div class="text">
                Вы можете вернуть свою покупку в течение 14 дней с момента получения заказа.
                К возврату принимаются только те товары, которые вы приобрели за полную стоимость.
                Товар, проданный по акции, на распродаже или со скидкой, к возврату не принимается.
            </div>
        </div>
        <div class="item">
            <div class="text">
                Покупатель имеет право на возврат товара в течение 14 дней после покупки без указания причины,
                что регулируется статьей 10 закона nº 24/96, de 31 de julho. Информируем вас о
                необходимости сохранения качества и состояния товара во время этого периода, чтобы получить полный возврат средств.
            </div>
        </div>
        <div class="item">
            <div class="text">
                Мы оставляем за собой право отказать покупателю в возврате товара, если товар находился в
                эксплуатации, поврежден, не в полной комплектации, потерял свой первоначальный вид
                (заметны царапины, мятые углы и подобные дефекты), при возврате товар не был достаточно герметично
                упакован (не защищены углы книг, не защищена обложка от царапин и изгибов), что привело к порче товара.
            </div>
        </div>
        <div class="item">
            <div class="text">
                При возврате товара необходимо предъявить оригинал документа, подтверждающий
                покупку (накладную или чек кассового аппарата). Возврат товара осуществляется
                через ваше местное почтовое отделение или международной курьерской службой. При возврате
                товара деньги за осуществленную доставку не возвращаются.
            </div>
        </div>
        <div class="item">
            <div class="text">
                Для оформления возврата, пожалуйста, напишите нам на почту <strong>varenka.books@gmail.com</strong>
            </div>
        </div>
        <div class="item">
            <div class="text">
                Упакуйте товар так, чтобы он не деформировался: был в герметичной и твёрдой
                упаковке, уголки надёжно защищены, обложка не подвержена изгибам и царапинам.
            </div>
        </div>
        <div class="item">
            <div class="text">
                Отправьте посылку по следующему адресу: Rua do Almada 448, Porto, 4050-034, Portugal
            </div>
        </div>
    </div>
</div>
