@import "../../../styles/color.less";

:host {
  flex: 1;

  justify-content: center;
  display: flex;


  .slider {
    margin-bottom: 25px;
    margin-top: 20px;
  }

  .shop-info {
    font-size: 18px;
    max-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    margin:  50px 0  75px 0;
    text-align: center;


  }

  .books-link {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    //display: flex;
    justify-content: center;

  }

  .books-link-text {
    font-size: 26px;
        width: 50%;
  }

    .books-link-text:hover {
        cursor: pointer;
        color: @colorTheme8;
        transform: scale(1.05);
    }

  @media (max-width: 800px) {
    .shop-info {
      font-size: 18px;
      max-width: 100%;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media (max-width: 600px) {
    .shop-info {
      font-size: 16px;
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

}
