@import 'assets/iconmoon/style.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

//@font-face {
//  font-family: 'Inter';
//  src: url('/assets/fonts/Inter-Medium.ttf') format('truetype');
//  font-weight: normal;
//}
//
//@font-face {
//  font-family: 'Inter';
//  src: url('/assets/fonts/Inter-Bold.ttf') format('truetype');
//  font-weight: bold;
//}


@font-face {
  font-family: 'Montserrat Regular';
  src: url('/assets/fonts/Montserrat-Regular.woff') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('/assets/fonts/Montserrat-SemiBold.woff') format('truetype');
  font-weight: bold;
}

html, body {
  background: #ffffff;
  padding: 0;
  margin: 0;
  font-family: Montserrat Regular, "Montserrat Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .pagination .ngx-pagination .current {
    background: #e54832;
    border-radius: 5px;
  }

  .mat-app-background {
    background-color: #ffffff;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .footer {
    margin-top: 20px;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
  }

  .mat-badge-content {
    background: #e54832;
  }

  h1 {
    font-size: 28px;
    margin: 40px;
  }

  h2 {
    font-size: 22px;
    margin: 20px;
  }

  .mdc-button {
    font-family: Montserrat Regular, "Montserrat Regular",  sans-serif;
    letter-spacing: 0;
  }

  .main-button {
    background-color: #00a189;
    color: #ffffff !important;
    font-size: 18px;
    width: 100%;
    margin: 5px;
    letter-spacing: normal;
    border-radius: 5px;
  }

  .base-input {
    width: 100%;
    max-width: 100%;
    height: 40px;
    font-size: 22px;
    border-radius: 5px;
    border: 1px solid #7e7e7e;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    padding: 0 15px 0 15px;
    text-align: center;
  }

  .mat-mdc-button[disabled] {
    color: #7e7e7e !important;
  }

  .mat-mdc-select-panel {
    max-height: 100% !important;

  }
  .mat-mdc-select   {
    font-family: Montserrat Regular, "Montserrat Regular", sans-serif !important;

  }

  .mat-mdc-select-value {
    //width: auto;
  }

  .mat-mdc-select-arrow {
    //visibility: hidden;
    color: #00a189;
    font-size: 22px;
    //position: relative;
    svg {
      transform: scale(1.5);
      top: -10px;
      //left: -200px;
    }
  }

  .mat-mdc-option {
    font-family: Montserrat Regular, "Montserrat Regular", sans-serif;;
  }

  .base-input:focus {
    border-color: #7e7e7e;
    transform: scale(1.05);

  }

  .main-button:disabled {
    background-color: #F5F5F5;
  }

  .mat-mdc-form-field {
    background-color: #00a189;
  }

  .main-button:hover {
    transform: scale(1.05);
  }

  .icon-menu {
    width: 25px;
    filter: invert(51%) sepia(6%) saturate(10%) hue-rotate(355deg) brightness(96%) contrast(90%);
  }

  .icon-menu:hover {
    transform: scale(1.05);
    filter: invert(48%) sepia(23%) saturate(5564%) hue-rotate(335deg) brightness(87%) contrast(109%);
  }

  .products-list {
    margin-top: 25px;
  }

  .products-filter {
    background: #ffffff;
    width: 98%;

  }

  .body-scroller {
    //height: 100%;
  }

  .products-filter {
    position: absolute;
    z-index: 5;
    top: 134px;
    width: calc(100vw - 15px);

  }


  .text-center {
    text-align: center;
  }

  img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 45px -27px rgba(0,0,0,0.82);
    -moz-box-shadow: 0px 9px 45px -27px rgba(0,0,0,0.82);
    box-shadow: 0px 9px 45px -27px rgba(0,0,0,0.82)
  }



}


:-webkit-any-link {
  color:#008ea5;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 15px;
  //position: fixed;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  margin: 3px;
  width: 20px;

}

::-webkit-scrollbar-thumb {
  background:  #7e7e7e;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
  opacity: .10;


}

::-webkit-scrollbar-thumb:hover {
  background: #de4937;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
  opacity: .5;

}


