@import 'assets/iconmoon/style.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
}


html, body {
  background: #ffffff;
  padding: 0;
  margin: 0;
  font-family: Inter, "Inter", Verdana, sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .pagination .ngx-pagination .current {
    background: #e54832;
  }

  .mat-app-background {
    background-color: #ffffff;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
  }

  .mat-badge-content {
    background: #e54832;
  }

  h1 {
    font-size: 28px;
    margin: 40px;
  }

  h2 {
    font-size: 22px;
    margin: 20px;
  }

  .mdc-button {
    font-family: Inter, "Inter", Verdana, sans-serif;
  }

  .main-button {
    background-color: #00a189;
    color: #ffffff !important;
    font-size: 18px;
    width: 100%;
    margin: 5px;
    letter-spacing: normal;
    border-radius: 5px;
  }

  .base-input {
    width: 100%;
    max-width: 100%;
    height: 40px;
    font-size: 22px;
    border-radius: 5px;
    border: 1px solid #7e7e7e;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    padding: 0 15px 0 15px;
    text-align: center;
  }

  .mat-mdc-select-panel     {
    max-height: 100% !important;
  }
   .mat-mdc-select-arrow {
     visibility: hidden;
  }

  .mat-mdc-option {
    font-family: Inter, "Inter", Verdana, sans-serif;;
  }

  .base-input:focus {
    border-color: #7e7e7e;
    transform: scale(1.05);

  }

  .main-button:disabled {
    background-color: #7e7e7e;
  }

  .mat-mdc-form-field {
    background-color: #00a189;
  }

  .main-button:hover {
    transform: scale(1.05);
  }

  .icon-menu {
    width: 25px;
    filter: invert(51%) sepia(6%) saturate(10%) hue-rotate(355deg) brightness(96%) contrast(90%);
  }

  .icon-menu:hover {
    transform: scale(1.05);
    filter: invert(48%) sepia(23%) saturate(5564%) hue-rotate(335deg) brightness(87%) contrast(109%);
  }

  .products-list {
    margin-top: 25px;
  }

  .products-filter {
    background: #ffffff;
    width: 98%;

  }
  .body-scroller {
    height: 100%;
  }

  .products-filter {
    position: absolute;
    z-index: 5;
    top: 134px;
    width: calc(100vw - 15px);

  }
  .products-list-cont {
    //margin-top: 100px;
  }

  @media(max-width: 550px){

    //.products-filter {
    //  top: 60px;
    //  width: calc(100vw - 15px);
    //  display: flex;
    //  justify-content: center;
    //}
    //
    //.products-list-cont {
    //  margin-top: 80px;
    //}

  }
   .text-center {
       text-align: center;
   }

  //@media (min-width: 1000px) {
  //  .products-list-cont {
  //    //margin-top: 150px;
  //  }
  //}


}

